RewriteEngine On
RewriteBase /
RewriteRule ^index.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]

<IfModule mod_php.c>
    php_value include_path ".:/home/franco/Projects/fault-reporter/public/backend"
</IfModule>

# Ensure PHP files are processed
<FilesMatch \.php$>
    SetHandler application/x-httpd-php
</FilesMatch>
